<div class="container text-center mt-3">
        <div class="mt-4">
            <%= image_tag 'gorilla.png', alt: 'ゴリラ画像', class: 'img-fluid' %>
        </div>
        <br>
        <h2>どのステージで話す？</h2>
        <div class="container">
          <div class="btn-group-vertical w-100 mx-auto">
              <%= link_to 'マウティングゴリラ編', home_stage_path(stage: 1), class: 'btn btn-secondary', role: 'button' %>
              <%= link_to 'お嬢様編',home_stage_path(stage: 2), class: 'btn btn-secondary', role: 'button' %>
              <%= link_to '同僚編', home_stage_path(stage: 3), class: 'btn btn-secondary', role: 'button' %>
              <%= link_to '上司編', home_stage_path(stage: 4), class: 'btn btn-secondary', role: 'button' %>
              <%= link_to '担当者編', home_stage_path(stage: 5), class: 'btn btn-secondary', role: 'button' %>
              
          </div>
        </div>
    </div>
    <br>