<div class="container text-center mt-3">
  <% case @stage %>
  <% when "1" %>
    <div class="mt-4">
        <%= image_tag 'gorilla2.jpg', alt: 'ゴリラ画像', class: 'img-fluid' %>
        <P>あなた「おはようございます」</p>
        <p>ゴリラ「あ？」</p>
        <p>のように会話スペースを作成する</p>
    </div>
  <% when "2" %>
    <%= image_tag 'ojousama.jpg', alt: 'お嬢様画像', class: 'img-fluid' %>
    <p>お嬢様 「うだうだ ぐちぐち ぶつぶつ...」</p>
    <p>あなた 「😫😵😢😭」</p>
  <% when "3" %>
  <%= image_tag 'douryou.jpg', alt: '同僚画像', class: 'img-fluid' %>
    <p>あなた「明日はこの仕事を担当してくれるかな？」</p>
    <p>同僚 「無理！無理！俺には無理！あっ。○○さんから電話だ。じゃあ」</P>
    <p>あなた 「.....」</P>
  <% when "4" %>
  <%= image_tag 'joushi.jpg', alt: '上司画像', class: 'img-fluid' %>
    <p>上司 「その書類作りなおそうか？」</p>
    <p>あなた 「なぜですか？どこか問題ありました？」
    <p>上司 「表現のしかたが良くないと思うんだよね」</P>
    <p>あなた 「......」</p>
  <% when "5" %>
    <%= image_tag 'tantousha.jpg', alt: '担当者画像', class: 'img-fluid' %>
    <P>担当者「今度ご飯行こうよ。いつ休み？」</P>
    <P>あなた「......」</p>
  <% else %>
    <p>ステージを選んでください。</p>
  <% end %>
</div>